body {
  margin: 0;
  padding: 0;
  background: pink;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.2);
}

h1 {
  color: crimson;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  text-decoration: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 8px;
  transition: 0.3s;
}

.yes {
  background: crimson;
  color: white;
}

.yes:hover {
  background: darkred;
}

.no {
  background: white;
  color: crimson;
  border: 2px solid crimson;
}

.no:hover {
  background: crimson;
  color: white;
}
.date{
    background: crimson;
  color: white;

}
.date:hover{
     background: crimson;
  color: white;
}
.tq{
     background: crimson;
  color: white;


}
.tq:hover{
    background: crimson;
  color: white;

}

